// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3em;
}

#login-form {
  text-align: center;
}